/* *{
    border:1px solid red;
} */
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}
div.level{
    display:flex;
    margin:20px;
    width:95%;
    justify-content: center;
    position: relative;
}
div.box{
    width:40px;
    height:40px;
    padding:20px;
    margin-right:25px;
    font-size:30px;
    border:6px solid black;
    transition:all 0.2s ease;
}
div.box:hover{
    cursor: pointer;
}
div.parent{
    margin:100px auto;
    width:90vw;
    display:flex;
}
div.gameBox{
    width:63%;
}
div.details{
    width:37%;
}
div.level span{
    position:absolute;
    left:0;
    top:30px;
}
div.details div{
    width:95%;
    padding:10px;
}
div.details span{
    margin:20px;
}
span.bold{
    font-weight:600;
}
span.under{
    text-decoration: underline;
}
button{
    border:none;
    border-radius: 20px;
    background:dodgerblue;
    opacity: 0.8;
    transition: all 0.2s ease;
    padding:20px 50px;
    font-size: larger;
}
button:hover{
    cursor: pointer;
    opacity:1;
}